body{
    background-color: #1a1a1a;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
}
@font-face {
    font-family: 'Segment7';
    src: url('G7_Segment_7a.ttf');
}

.clock {
    font-family: 'Segment7';
    font-size: 220px;
    color: #ffffff;
}